:root {

    /* COLORS */
    --primaryColor: #737373;
    --secondaryColor: #737373;
    --tertiaryColor: #737373;

    /* FONTS */
    --primaryFont: 'Montserrat', sans-serif;
    --secondaryFont: 'Roboto', sans-serif;
    --tertiaryFont: Comic Sans MS, Comic Sans, cursive;

    /* SOCIAL MEDIA ASSETS */
    --facebookColor: #3b5998;
    --twitterColor: #1da1f2;
    --instagramColor: #e1306c;
    --youtubeColor: #ff0000;
    --pinterestColor: #bd081c;
    --linkedinColor: #0077b5;
    --tumblrColor: #35465c;
    --redditColor: #ff4500;
    --snapchatColor: #fffc00;
    --tiktokColor: #000000;
    --whatsappColor: #25d366;
    --telegramColor: #0088cc;
    --discordColor: #7289da;
    --twitchColor: #6441a5;
    --spotifyColor: #1db954;
    --soundcloudColor: #ff8800;
    --googleColor: #4285f4;

}

/* Everything */
* {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
}

#photo {
    border: 4px solid green;
    padding: 4px;
}


/* Not working for some reason */
div[id="outputs"] {
    font-size: 14px !important;
}

a {
    color: #EFB261FF;
    font-weight: bolder;
    text-underline-mode: true;
}

a[title="Clear field"] {
    color: #2f2f2f;
    font-weight: bolder;
    font-size: inherit;
    margin-left: 5px;
    transition: .2s ease-in-out;

}
a[title="Clear field"]:hover {
    font-size: 1.2em;
    transition: .2s ease-in-out;
}


p {
    margin: 0 0 0 0;
    padding: 0 8px 0 8px;
}
h3 {
    margin: 16px 0 5px 0
}
select {
    margin-left: 8px;
    margin-right: 5px;
    cursor: pointer;
    transition: .2s;
}
label {
    padding-right: 5px;
}

/* ALl inputs */
input {
    height: 30px;
    font-weight: bold;
    margin: 4px 5px 4px 5px;
    box-shadow: 4px 0 11px -2px rgba(52, 52, 52, 0.9);
    -webkit-box-shadow: 4px 0 11px -2px rgba(75, 75, 75, 0.9);
    -moz-box-shadow: 4px 0 11px -2px rgba(47, 47, 47, 0.9);
    transition: .2s ease-in-out;
    outline: none;
    padding: 2px 10px 2px 10px;
    border-width: 3px;
    border-radius: 30px;
    border-style: solid;
    border-color: darkgreen;
    font-size: 14px;
    background: #ffffff;
}

.var {
    display: flex;
    padding: 10px 10px 10px 10px;
    border-radius: 40px;
    box-shadow: 5px 10px #888888;
    -webkit-box-shadow: 0 0 15px -9px rgba(0,0,0,0.90);
    -moz-box-shadow: 0 0 15px -9px rgba(0,0,0,0.90);
    margin: 8px auto;
    font-weight: bold;
    align-items: center;
    font-size: 16px;
    transition: .1s;
    position: relative;
    background-color: #fff;
}

input[type='checkbox'] {
    display: none;
}
input:focus {
    scale: 1.05;
    transition: .2s ease-in-out;
}

span.material-symbols-outlined[id*='warning'] {
    color: orange;
    transition: .2s;
    border-radius: 50%;
}

button[id*='clear'], button[id*='Clear'], .clearButton {
    height: 25px;
    width: 60px;
    font-size: 12px;
    margin: 0 10px 0 14px;
    border-radius: 13px;
    background: linear-gradient(145deg, #f0f0f0, #fff078);
    box-shadow:  5px 5px 10px #acacac,
    -5px -5px 10px #ffffff;
    transition: .1s;
    border: #262626;
    position: absolute;
    right: 0;
}
button[id*='clear']:hover, button[id*='Clear']:hover, .clearButton:hover {
    height: 25px;
    width: 60px;
    font-size: 12px;
    margin: 0 10px 0 14px;
    border-radius: 13px;
    background: #faec7a;
    box-shadow:  5px 5px 10px #acacac,
    -5px -5px 10px #ffffff;
    transition: .1s;
    scale: 1.05;
    border: #262626;
    position: absolute;
    right: 0;
    cursor: pointer;
}

img {
    z-index: 9999999;
}

.tabs {
    margin-top: 65px;
}
.tab {
    padding: 8px 14px 8px 14px;
    border-radius: 11px;
    background: #ffffff;
    box-shadow:  5px 5px 12px #b5b5b5,
    -5px -5px 12px #ffffff;
    border: transparent;
    margin: 0 5px 0 5px;
    transition: .25s;
}
.tab[value=''] {
    padding: 0 0 0 0;
}
.tab:hover {
    background: linear-gradient(145deg, #d9d9d9, #f0f0f0);
    box-shadow:  5px 5px 12px #808080,
    -5px -5px 12px #ffffff;
    transition: .25s;
    cursor: pointer;
}

.cleanCursorInput {
    color: rgba(0, 0, 0, .87);
    border-bottom-color: rgba(0, 0, 0, .42);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .009375em;
    text-decoration: inherit;
    text-transform: inherit;
    align-self: flex-end;
    box-sizing: border-box;
    width: 50%;
    padding: 20px 16px 6px;
    transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
    background: rgb(245, 245, 245);
    height: 56px;
}
.cleanCursorInput:hover{
    border-bottom-color: rgba(0,0,0,.87);
    background: #ececec;
}
.cleanCursorInput:focus{
    border-color: #6200ee;
}


/* Columns & Rows */
.column2 {
    float: left;
    width: 50%;
    padding: 10px;
}
.column3 {
    float: left;
    width: 33.33%;
    padding: 10px 10px 10px 10px;
}
.column4 {
    float: left;
    width: 25%;
    padding: 10px;
}

.column30Percent {
    float: left;
    width: 30%;
    padding: 10px;
}
.column36Dot6Percent {
    float: left;
    width: 36.6%;
    padding: 10px;
}
.column40Percent {
    float: left;
    width: 40%;
    padding: 10px;
}

.row:after {
    display: table;
    clear: both;
}



/* Shortcut 'click link to add brand variable' in the 'New Content' section */
#linkLocation {
    transition: .1s;
}
#linkLocation:hover {
    transition: .1s;
}
#linkHost {
    transition: .1s;
}
#linkHost:hover {
    transition: .1s;
}
#linkLink {
    transition: .1s;
}
#linkLink:hover {
    transition: .1s;
}
#linkPrimarycolor {
    transition: .1s;
}
#linkPrimarycolor:hover {
    transition: .1s;
}

p[id*="copyToClipboardHas"] {
    transition: .1s ease-in-out;
}

p[id*="copyToClipboardHas"]:hover {
    transition: .1s ease-in-out;
    scale: 1.01;
    box-shadow: 4px 0 11px -2px rgba(52, 52, 52, 0.9);
    -webkit-box-shadow: 4px 0 11px -2px rgba(75, 75, 75, 0.9);
    -moz-box-shadow: 4px 0 11px -2px rgba(47, 47, 47, 0.9);

}

/* Images produced in the 'New Content' tab */
#finalImageHorizontal {
    width: 240px;
    height: 126px;
    border: 2px solid #000000;
    padding: 10px 10px 10px 10px;
    background-color: #fff;
    z-index: 99999;
    box-shadow: 4px 0 11px -2px rgba(52, 52, 52, 0.9);
    -webkit-box-shadow: 4px 0 11px -2px rgba(75, 75, 75, 0.9);
    -moz-box-shadow: 4px 0 11px -2px rgba(47, 47, 47, 0.9);
    position: absolute;
    top: 190px;
    right: 420px;
}

#finalImageHorizontal:hover {
    scale: 1.03;
    transition: .3s ease-in-out;
    cursor: pointer;
    z-index: 999999;
}

#finalImageSquare {
    height: 216px;
    width: 216px;
    border: 2px solid #000000;
    padding: 10px 10px 10px 10px;
    background-color: #fff;
    z-index: 400;
    position: absolute;
    top: 120px;
    right: 218px;
    box-shadow: 4px 0 11px -2px rgba(52, 52, 52, 0.9);
    -webkit-box-shadow: 4px 0 11px -2px rgba(75, 75, 75, 0.9);
    -moz-box-shadow: 4px 0 11px -2px rgba(47, 47, 47, 0.9);
}
#finalImageSquare:hover {
    scale: 1.03;
    transition: .3s ease-in-out;
    cursor: pointer;
    z-index: 999999;
}

#finalImageVertical {
    height: 270px;
    width: 216px;
    border: 2px solid #000000;
    padding: 10px 10px 10px 10px;
    background-color: #fff;
    position: absolute;
    right: 15px;
    top: 80px;
    z-index: 50;
    box-shadow: 4px 0 11px -2px rgba(52, 52, 52, 0.9);
    -webkit-box-shadow: 4px 0 11px -2px rgba(75, 75, 75, 0.9);
    -moz-box-shadow: 4px 0 11px -2px rgba(47, 47, 47, 0.9);
}
#finalImageVertical:hover {
    scale: 1.03;
    transition: .3s ease-in-out;
    cursor: pointer;
    z-index: 999999;
}

/* Social media platform icons under the images */
#finalImageVerticalPlatforms {
    position: absolute;
    right: 120px;
    z-index: 50;
    top: 525px;
    align-items: center;
    font-size: 13px;
}
#finalImageHorizontalPlatforms {
    position: absolute;
    align-items: center;
    margin-top: 5px;
    font-size: 13px;
    z-index: 60;
    top: 255px;
    right: 318px;
}
#finalImageSquarePlatforms {
    position: absolute;
    right: 372px;
    z-index: 50;
    top: 545px;
    align-items: center;
    font-size: 13px;
}

.socialMediaIcon {
    width: 25px;
    height: 25px;
}

/* Text in the images of the 'New Content' tab */
#finalTitleHorizontal {
    font-size: 30px;
    font-weight: bolder;
    word-wrap: break-word;
}
#finalDateHorizontal {
    font-size: 20px;
    word-wrap: break-word;
}
#finalTimeHorizontal {
    font-size: 20px;
    word-wrap: break-word;
}
#finalLocationHorizontal {
    font-size: 20px;
    word-wrap: break-word;
}
#finalOrganizationHorizontal {
    font-size: 20px;
    word-wrap: break-word;
}
#finalHostHorizontal {
    font-size: 20px;
    word-wrap: break-word;
}

#finalTitleSquare {
    font-size: 30px;
    font-weight: bolder;
    word-wrap: break-word;
    padding: 0 0 5px 0;
}
#finalDateSquare {
    font-size: 20px;
    word-wrap: break-word;
}
#finalTimeSquare {
    font-size: 20px;
    word-wrap: break-word;
}
#finalLocationSquare {
    font-size: 20px;
    word-wrap: break-word;
}
#finalOrganizationSquare {
    font-size: 20px;
    word-wrap: break-word;
}
#finalHostSquare {
    font-size: 20px;
    word-wrap: break-word;
}

#finalTitleVertical {
    font-size: 30px;
    font-weight: bolder;
    word-wrap: break-word;
    padding: 0 0 5px 0;
}
#finalDateVertical {
    font-size: 20px;
    word-wrap: break-word;
}
#finalTimeVertical {
    font-size: 20px;
    word-wrap: break-word;
}
#finalLocationVertical {
    font-size: 20px;
    word-wrap: break-word;
}
#finalOrganizationVertical {
    font-size: 20px;
    word-wrap: break-word;
}
#finalHostVertical {
    font-size: 20px;
    word-wrap: break-word;
}

/* Reveal items in the images as they hold a value in the inputs section in 'New Content' */
.showOnDate {
    display: none;
}
.showOnTime {
    display: none;
}
.showOnLocation {
    display: none;
}
.showOnOrganization {
    display: none;
}
.showOnHost {
    display: none;
}
.showOnDescription {
    display: none;
}
.showOnLink {
    display: none;
}
.showOnPrimarycolor {
    display: none;
}
.showOnLogo {
    display: none;
}

/* Positioning the square logos in the images in the 'New Content' tab */
#squareImageLogoHere, #verticalImageLogoHere {
    position: absolute;
    bottom: 4px;
    right: 5px;
}
#horizontalImageLogoHere {
    position: absolute;
    bottom: 4px;
    left: 5px;
}
#squareImageQRHere, #verticalImageQRHere {
    position: absolute;
    bottom: 4px;
    left: 5px;
    display: none;
}
#horizontalImageQRHere {
    position: absolute;
    bottom: 4px;
    left: 71px;
    display: none;
}

/* Top Nav Bar */
#brandSearch {
    margin: 0 0 0 50px
}
#searchBar {
    position: fixed;
    top: 0;
    background-color: #f1f1f1;
    width: 100%;
    margin-left: -12px;
    padding: 10px 8px 10px 8px;
    align-items: center;
    z-index: 1000;
    box-shadow: 5px 10px #888888;
    -webkit-box-shadow: 0 0 15px -9px rgba(0,0,0,0.90);
    -moz-box-shadow: 0 0 15px -9px rgba(0,0,0,0.90);
}

#logoIcon {
    position: absolute;
    top: 8px;
    width: 38px;
    height: 38px;
}
#logoIcon:hover {
    cursor: pointer;
}

#brandDropdown {
    display: none;
    padding: 35px 25px 25px 25px;
    background-color: #f1f1f1;
}

.draggableBrandVar {
    background-color: #e7e7e7;
    border: 1px solid #c9c9c9;
    padding: 4px 12px 4px 12px;
    margin: 4px auto;
}
.draggableBrandVar:hover {
    cursor: pointer;
    background-color: var(--primaryColor);
    color: white;
    font-weight: bolder;
}


b[display="block"] {
    display: block;
}

span.edit {
    background-color: #e7e7e7;
    border: 1px solid #c9c9c9;
    padding: 5px 5px 5px 5px;
    margin-left: 2px;
    font-size: 16px;
}
span.edit:hover {
    cursor: pointer;
    background-color: var(--primaryColor);
    color: white;
    font-weight: bolder;
}

.chip {
    padding: 3px 8px 3px 8px;
    border-radius: 12px;
    font-weight: bold;
    box-shadow: 1px 1px 5px #818181;
    margin: 0 4px 0 4px;
    cursor: pointer;
    user-select: none;
}

a.link {
    color: #ffffff;
}

 .copyTextButton {
     box-shadow: 5px 5px #3f3f3f;
     -webkit-box-shadow: 0 0 15px -9px rgba(70, 70, 70, 0.9);
     -moz-box-shadow: 0 0 15px -9px rgba(93, 93, 93, 0.9);
     background-color: #ffffff;
     color: #5d5d5d;
     padding: 5px 10px 5px 10px;
     margin: 8px 8px 8px 8px;
     border: 1px solid #c9c9c9;
     transition: .1s ease-in-out;
     position: relative;
     right: 5px;
 }

 .copyTextButton:hover {
     cursor: pointer;
     background-color: var(--primaryColor);
     color: #ffffff;
     font-weight: bolder;
     transition: .1s ease-in-out;
 }

 .shareToSocial {
     text-decoration: none;
     height: 20px;
     width: 20px;
     transition: .1s ease-in-out;
     background-color: transparent;
     border: none;
 }
 .shareToSocial:hover {
     cursor: pointer;
     scale: 1.1;
     transition: .1s ease-in-out;
 }

#socialSendablesTab {}
#socialSendablesTab:hover {
    background-color: white !important;
}

.socialTab {
    margin: 0 0 0 0;
    padding: 10px 10px 10px 10px;
    background-color: #ffffff;
    border: none;
}
.socialTab:hover {
    background-color: #3473f1;
    transition: .25s;
    cursor: pointer;
}
.socialTab + .active {
    margin: 0 0 0 0;
    padding: 10px 10px 10px 10px;
    background-color: #d73838;
}

#socialSendables {
     display: inline-block;
     position: absolute;
     top: 800px;
     right: 20px;
 }
.socialTabContent {
     background-color: #ffffff;
     display: none;
     border: 2px solid #575757;
     padding: 20px 20px 20px 20px;
 }

div[id*="PostPreview"] {}
#facebookPostPreview {}
#linkedinPostPreview {}
#twitterPostPreview {}
#emailPostPreview {}
#redditPostPreview {}
#tumblrPostPreview {}
#telegramPostPreview {}
#whatsappPostPreview {}

.shareButton {
    padding: 12px 17px 12px 17px;
    font-weight: bolder;
    margin: 20px 0 20px 0;
    color: #ffffff;
    box-shadow: 5px 10px #888888;
    -webkit-box-shadow: 0 0 15px -9px rgba(0,0,0,0.90);
    -moz-box-shadow: 0 0 15px -9px rgba(0,0,0,0.90);
    border-radius: 7px;
    border: none;
    transition: .1s ease-in-out;
 }
.shareButton:hover {
    cursor: pointer;;
    transition: .1s ease-in-out;
    scale: 1.03;
}

pre {
    border: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-family: 'Courier New', Courier, monospace;
}

pre code {
    background-color: #424242;
    border: 3px solid #282828;
    border-radius: 5px;
    color: #e8e8e8;
    display: inline-block;
    padding: 5px;
}

.integration {
    display: flex;
    padding: 10px 10px 10px 10px;
    border-radius: 40px;
    box-shadow: 5px 10px #888888;
    -webkit-box-shadow: 0 0 15px -9px rgba(0,0,0,0.90);
    -moz-box-shadow: 0 0 15px -9px rgba(0,0,0,0.90);
    margin: 8px auto;
    font-weight: bold;
    align-items: center;
    font-size: 16px;
    transition: .1s;
    position: relative;
    background-color: #fff;
}
#connectToInstagramButton, #connectToYoutubeButton {
    box-shadow: 5px 10px #888888;
    -webkit-box-shadow: 0 0 15px -9px rgba(0,0,0,0.90);
    -moz-box-shadow: 0 0 15px -9px rgba(0,0,0,0.90);
}


.wrap-collabsible {
    margin: 10px 20px 10px 20px;
}

.lbl-toggle {
    display: block;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: left;
    padding: 10px 18px 10px 18px;
    color: #232323;
    background: #ffffff;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.1s;
}
.lbl-toggle:hover {
    color: #FFF;
    background: #232323;
}
.lbl-toggle::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transition: .1s;
}

.toggle:checked+.lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible {
    background-color: white;
    color: #252525;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 18px;
    border-radius: 40px;
    transition: .2s;
}
.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: .1s;
}
.collapsible-content .content-inner {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}
.collapsible:hover {
    background-color: #d2d2d2;
    cursor: pointer;
    transition: .2s;
}


.toggle:checked+.lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 10000px;
}

/* Lock Styling */
.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 600,
            'GRAD' 0,
            'opsz' 48;
    cursor: pointer;
    transition: .1s ease-in-out;
}
.material-symbols-outlined:hover {
    scale: 1.10;
    transition: .1s ease-in-out;
}

/* Brand Variables in 'My Brand' section */
.varGroup {
    padding: 10px 25px 10px 25px;
}

.var:hover {
    scale: 1.01;
    transition: .1s;
    background-color: #ececec;
}

#businessTypeValueDisplay {
    font-size: 12px;
}


