:root {

    /* BRAND COLORS */
    --primaryColor: #737373;
    --secondaryColor: #737373;
    --tertiaryColor: #737373;

    /* BRAND FONTS */
    --primaryFont: 'Montserrat', sans-serif;
    --secondaryFont: 'Roboto', sans-serif;
    --tertiaryFont: 'Comic Sans', sans-serif;

    /* SOCIAL MEDIA COLORS */
    --facebookColor: #3b5998;
    --twitterColor: #1da1f2;
    --instagramColor: #e1306c;
    --youtubeColor: #ff0000;
    --pinterestColor: #bd081c;
    --linkedinColor: #0077b5;
    --tumblrColor: #35465c;
    --redditColor: #ff4500;
    --snapchatColor: #fffc00;
    --tiktokColor: #000000;
    --whatsappColor: #25d366;
    --telegramColor: #0088cc;
    --discordColor: #7289da;
    --twitchColor: #6441a5;
    --spotifyColor: #1db954;
    --soundcloudColor: #ff8800;
    --googleColor: #4285f4;

}

/* if the screen width is smaller than 1150, hide everything */
@media screen and (max-width: 1150px) { body { display: none; } }

/* Everything */
* {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 600;
}

body {
    margin: 0;
    padding: 0;
}

#photo {
    border: 4px solid green;
    padding: 4px;
}

a {
    color: #EFB261FF;
    font-weight: bolder;
    text-underline-mode: true;
}
a[title="Clear field"] {
    color: #2f2f2f;
    font-weight: bolder;
    font-size: inherit;
    margin-left: 5px;
    transition: .2s ease-in-out;

}
a[title="Clear field"]:hover {
    font-size: 1.2em;
    transition: .2s ease-in-out;
}

details {
    padding: 15px 15px 15px 15px;
    margin: 10px 5px 10px 5px;
    font-weight: bolder;
    transition: .2s ease-in-out;
    box-shadow: 5px 10px #888888;
    -webkit-box-shadow: 0 0 15px -9px rgba(0,0,0,0.90);
    -moz-box-shadow: 0 0 15px -9px rgba(0,0,0,0.90);
}
details:hover {
    transition: .2s ease-in-out;
    cursor: pointer;
}

summary {
    font-weight: bolder;
    transition: .2s ease-in-out;
}
summary:hover {
    transition: .2s ease-in-out;
    cursor: pointer;
}

/* FLEXBOX CLASSES */
.flex-container {
    display: flex;
    height: 400px;
    background-color: #9d9d9d;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
}
.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.flex-item {
    display: flex;
    background-color: white;
    color: #000;
    flex-basis: min-content ;
    flex-grow: 1;
    flex-shrink: 1;
    height: min-content;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 15px;
}


p {
    margin: 0 0 0 0;
    padding: 0 8px 0 8px;
}
h3 {
    margin: 16px 0 5px 0
}
select {
    margin-left: 8px;
    margin-right: 5px;
    cursor: pointer;
    transition: .2s;
}
label {
    padding-right: 5px;
}
input {
    height: 40px;
    font-weight: bold;
    margin: 4px 5px 4px 5px;
    box-shadow: 4px 0 11px -2px rgba(52, 52, 52, 0.9);
    -webkit-box-shadow: 4px 0 11px -2px rgba(75, 75, 75, 0.9);
    -moz-box-shadow: 4px 0 11px -2px rgba(47, 47, 47, 0.9);
    transition: .2s ease-in-out;
    outline: none;
    padding: 2px 10px 2px 10px;
    border-width: 3px;
    border-radius: 30px;
    border-style: solid;
    border-color: darkgreen;
    font-size: 14px;
    background: #ffffff;
}

.var {
    display: flex;
    padding: 10px 10px 10px 10px;
    border-radius: 40px;
    box-shadow: 5px 10px #888888;
    -webkit-box-shadow: 0 0 15px -9px rgba(0,0,0,0.90);
    -moz-box-shadow: 0 0 15px -9px rgba(0,0,0,0.90);
    margin: 8px auto;
    font-weight: bold;
    align-items: center;
    font-size: 16px;
    transition: .1s;
    position: relative;
    background-color: #fff;
}

input[type='checkbox'] {
    display: none;
}
input:focus {
    scale: 1.05;
    transition: .2s ease-in-out;
}

span.material-symbols-outlined[id*='warning'] {
    color: orange;
    transition: .2s;
    border-radius: 50%;
}

button[id*='clear'], button[id*='Clear'], .clearButton {
    height: 25px;
    width: 60px;
    font-size: 12px;
    margin: 0 10px 0 14px;
    border-radius: 13px;
    background: linear-gradient(145deg, #f0f0f0, #fff078);
    box-shadow:  5px 5px 10px #acacac,
    -5px -5px 10px #ffffff;
    transition: .1s;
    border: #262626;
    position: absolute;
    right: 0;
}
button[id*='clear']:hover, button[id*='Clear']:hover, .clearButton:hover {
    height: 25px;
    width: 60px;
    font-size: 12px;
    margin: 0 10px 0 14px;
    border-radius: 13px;
    background: #faec7a;
    box-shadow:  5px 5px 10px #acacac,
    -5px -5px 10px #ffffff;
    transition: .1s;
    scale: 1.05;
    border: #262626;
    position: absolute;
    right: 0;
    cursor: pointer;
}

img {
    z-index: 1;
}

.newContentFieldEnhancement {
    height: 25px;
    width: 25px;
    margin: 0 10px 0 0;
}
.newContentFieldEnhancement:hover {

}

.tabs {
    margin-top: 65px;
}
.tab {
    padding: 8px 14px 8px 14px;
    border-radius: 11px;
    background: #ffffff;
    box-shadow:  5px 5px 12px #b5b5b5,
    -5px -5px 12px #ffffff;
    border: transparent;
    margin: 0 5px 0 5px;
    transition: .25s;
}
.tab[value=''] {
    padding: 0 0 0 0;
}
.tab:hover {
    background: linear-gradient(145deg, #d9d9d9, #f0f0f0);
    box-shadow:  5px 5px 12px #808080,
    -5px -5px 12px #ffffff;
    transition: .25s;
    cursor: pointer;
}

.newContentVar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cleanCursorInput {
    height: 38px;
    font-weight: bold;
    margin: 8px 8px 8px 8px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    transition: .2s ease-in-out;
    outline: none;
    padding: 20px 18px 20px 18px;
    border: none;
    border-radius: 0 0 0 0;
    background: #f0f0f0;
}
.cleanCursorInput:hover {
    background: #f0f0f0;
    transition: .2s ease-in-out;
    scale: 1;
}
.cleanCursorInput:focus {
    background: #f0f0f0;
    transition: .2s ease-in-out;
    scale: 1;
}
.cleanCursorInputTextarea {
    font-weight: bold;
    overflow: visible;
    margin: 8px 8px 8px 8px;
    font-size: 14px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    transition: .2s ease-in-out;
    outline: none;
    padding: 10px 18px 20px 18px;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
}


/* Columns & Rows */
.column25PercentWidth {
    float: left;
    width: 25%;
    padding: 10px;
}
.column30PercentWidth {
    float: left;
    width: 30%;
    padding: 10px;
}
.colum33Point33PercentWidth {
    float: left;
    width: 33.33%;
    padding: 10px 10px 10px 10px;
}
.column35PercentWidth {
    float: left;
    width: 35%;
    padding: 10px;
}
.column40PercentWidth {
    float: left;
    width: 40%;
    padding: 10px;
}
.column50PercentWidth {
    float: left;
    width: 50%;
    padding: 10px;
}
.column60PercentWidth {
    float: left;
    width: 60%;
    padding: 10px;
}
.column65PercentWidth {
    float: left;
    width: 65%;
    padding: 10px;
}
.row:after {
    display: table;
    clear: both;
}

/* Images produced in the 'New Content' tab */
#finalImageHorizontal {
    display: block;
    width: 480px;
    height: 252px;
    border: 2px solid #000000;
    padding: 10px 10px 10px 10px;
    background-color: #fff;
    z-index: 99999;
    box-shadow: 4px 0 11px -2px rgba(52, 52, 52, 0.9);
    -webkit-box-shadow: 4px 0 11px -2px rgba(75, 75, 75, 0.9);
    -moz-box-shadow: 4px 0 11px -2px rgba(47, 47, 47, 0.9);
    transition: .3s ease-in-out, color .0s;
    word-wrap: break-word;
}
#finalImageHorizontal:hover {
    scale: 1.03;
    transition: .3s ease-in-out;
    cursor: pointer;
    z-index: 999999;
}
#finalImageHorizontalDummy {
    width: 49px;
    height: 25px;
    border: 1px solid #232323;
    margin: 3px;
    transition: all .2s ease-in-out;
}
#finalImageHorizontalDummy:hover {
    cursor: pointer;
    scale: 1.05;
    transition: all .2s ease-in-out;
    box-shadow: 0 0 8px -1px #bebebe;
    -webkit-box-shadow: 0 0 8px -1px #bebebe;
    -moz-box-shadow: 0 0 8px -1px #bebebe;
}

#finalImageSquare {
    display: none;
    height: 360px;
    width: 360px;
    border: 2px solid #000000;
    padding: 10px 10px 10px 10px;
    background-color: #fff;
    z-index: 9999;
    box-shadow: 4px 0 11px -2px rgba(52, 52, 52, 0.9);
    -webkit-box-shadow: 4px 0 11px -2px rgba(75, 75, 75, 0.9);
    -moz-box-shadow: 4px 0 11px -2px rgba(47, 47, 47, 0.9);
    transition: .3s ease-in-out, color .0s;
    word-wrap: break-word;
}
#finalImageSquare:hover {
    scale: 1.03;
    transition: .3s ease-in-out;
    cursor: pointer;
    z-index: 999999;
}
#finalImageSquareDummy {
    height: 36px;
    width: 36px;
    border: 1px solid #232323;
    margin: 3px;
    transition: all .2s ease-in-out;
}
#finalImageSquareDummy:hover {
    cursor: pointer;
    scale: 1.05;
    transition: all .2s ease-in-out;
    box-shadow: 0 0 8px -1px #bebebe;
    -webkit-box-shadow: 0 0 8px -1px #bebebe;
    -moz-box-shadow: 0 0 8px -1px #bebebe;
}

#finalImageVertical {
    display: none;
    height: 450px;
    width: 360px;
    border: 2px solid #000000;
    padding: 10px 10px 10px 10px;
    background-color: #fff;
    z-index: 999;
    box-shadow: 4px 0 11px -2px rgba(52, 52, 52, 0.9);
    -webkit-box-shadow: 4px 0 11px -2px rgba(75, 75, 75, 0.9);
    -moz-box-shadow: 4px 0 11px -2px rgba(47, 47, 47, 0.9);
    transition: .3s ease-in-out, color .0s;
    word-wrap: break-word;

}
#finalImageVertical:hover {
    scale: 1.03;
    transition: .3s ease-in-out;
    cursor: pointer;
    z-index: 999999;
}
#finalImageVerticalDummy {
    height: 45px;
    width: 36px;
    border: 1px solid #232323;
    margin: 3px;
    transition: all .2s ease-in-out;
}
#finalImageVerticalDummy:hover {
    cursor: pointer;
    scale: 1.05;
    transition: all .2s ease-in-out;
    box-shadow: 0 0 8px -1px #bebebe;
    -webkit-box-shadow: 0 0 8px -1px #bebebe;
    -moz-box-shadow: 0 0 8px -1px #bebebe;
}

#finalImageStory {
    display: none;
    height: 640px;
    width: 360px;
    border: 2px solid #000000;
    padding: 10px 10px 10px 10px;
    background-color: #fff;
    z-index: 50;
    box-shadow: 4px 0 11px -2px rgba(52, 52, 52, 0.9);
    -webkit-box-shadow: 4px 0 11px -2px rgba(75, 75, 75, 0.9);
    -moz-box-shadow: 4px 0 11px -2px rgba(47, 47, 47, 0.9);
    transition: .3s ease-in-out, color .0s;
    word-wrap: break-word;
}
#finalImageStory:hover {
    scale: 1.03;
    transition: .3s ease-in-out;
    cursor: pointer;
    z-index: 999999;
}
#finalImageStoryDummy {
    height: 64px;
    width: 36px;
    border: 1px solid #232323;
    margin: 3px;
    transition: all .2s ease-in-out;
}
#finalImageStoryDummy:hover {
    cursor: pointer;
    scale: 1.05;
    transition: all .2s ease-in-out;
    box-shadow: 0 0 8px -1px #bebebe;
    -webkit-box-shadow: 0 0 8px -1px #bebebe;
    -moz-box-shadow: 0 0 8px -1px #bebebe;
}

.socialMediaIcon {
    width: 25px;
    height: 25px;
}

/* Reveal items in the images as they hold a value in the inputs section in 'New Content' */
.showOnDate {
    display: none;
}
.showOnTime {
    display: none;
}
.showOnLocation {
    display: none;
}
.showOnOrganization {
    display: none;
}
.showOnHost {
    display: none;
}
.showOnDescription {
    display: none;
}
.showOnLink {
    display: none;
}
.showOnPrimarycolor {
    display: none;
}
.showOnLogo {
    display: none;
}

/* Positioning the square logos in the images in the 'New Content' tab */
#squareImageLogoHere, #verticalImageLogoHere {
    position: absolute;
    bottom: 4px;
    right: 5px;
}
#horizontalImageLogoHere {
    position: absolute;
    bottom: 4px;
    left: 5px;
}
#squareImageQRHere, #verticalImageQRHere {
    position: absolute;
    bottom: 4px;
    left: 5px;
    display: none;
}
#horizontalImageQRHere {
    position: absolute;
    bottom: 4px;
    left: 71px;
    display: none;
}

.tabby {
    display: none;
    position: relative;
}

#navBar {
    position: relative;
    top: 0;
    display: flex;
    background-color: #ffffff;
    justify-content: space-between;
    width: 100%;
    color: #000000;
    align-items: center;
    z-index: 1000;
    box-shadow: 5px 10px #888888;
    -webkit-box-shadow: 0 0 15px -9px rgba(0,0,0,0.90);
    -moz-box-shadow: 0 0 15px -9px rgba(0,0,0,0.90);
}


.navTab {
    color: #ffffff;
    transition: .1s ease-in-out;
    height: 100%;
    width: 100%;
    background-color: #c2c2c2;
    display: flex;
    font-weight: 600;
    justify-content: center;
    align-items: center;
}

.navTab:hover {
    background-color: #19395d;
    transition: .1s ease-in-out;
    cursor: pointer;
}




input[type="range"] {
    transition: 0s;
    padding: 0 !important;
    -webkit-appearance: none;
    height: 5px;
}

#logoIcon {
    position: absolute;
    top: 8px;
    width: 38px;
    height: 38px;
}
#logoIcon:hover {
    cursor: pointer;
}

#brandDropdown {
    display: none;
    padding: 35px 25px 25px 25px;
    background-color: #f1f1f1;
}

.draggableBrandVar {
    background-color: #e7e7e7;
    border: 1px solid #c9c9c9;
    padding: 4px 12px 4px 12px;
    margin: 4px auto;
}
.draggableBrandVar:hover {
    cursor: pointer;
    background-color: var(--primaryColor);
    color: white;
    font-weight: bolder;
}


b[display="block"] {
    display: block;
}

span.edit {
    background-color: #e7e7e7;
    border: 1px solid #c9c9c9;
    padding: 5px 5px 5px 5px;
    margin-left: 2px;
    font-size: 16px;
}
span.edit:hover {
    cursor: pointer;
    background-color: var(--primaryColor);
    color: white;
    font-weight: bolder;
}

.chip {
    padding: 3px 8px 3px 8px;
    border-radius: 12px;
    font-weight: bold;
    box-shadow: 1px 1px 5px #818181;
    margin: 0 4px 0 4px;
    cursor: pointer;
    user-select: none;
}

a.link {
    color: #ffffff;
}

 .copyTextButton {
     box-shadow: 5px 5px #3f3f3f;
     -webkit-box-shadow: 0 0 15px -9px rgba(70, 70, 70, 0.9);
     -moz-box-shadow: 0 0 15px -9px rgba(93, 93, 93, 0.9);
     background-color: #ffffff;
     color: #5d5d5d;
     padding: 5px 10px 5px 10px;
     margin: 8px 8px 8px 8px;
     border: 1px solid #c9c9c9;
     transition: .1s ease-in-out;
     position: relative;
     right: 5px;
 }

 .copyTextButton:hover {
     cursor: pointer;
     background-color: var(--primaryColor);
     color: #ffffff;
     font-weight: bolder;
     transition: .1s ease-in-out;
 }

 .shareToSocial {
     text-decoration: none;
     height: 20px;
     width: 20px;
     transition: .1s ease-in-out;
     background-color: transparent;
     border: none;
 }
 .shareToSocial:hover {
     cursor: pointer;
     scale: 1.1;
     transition: .1s ease-in-out;
 }

#socialSendablesTab {}
#socialSendablesTab:hover {
    background-color: white !important;
}

.socialTab {
    margin: 0 0 0 0;
    padding: 10px 10px 10px 10px;
    background-color: #ffffff;
    border: none;
}
.socialTab:hover {
    background-color: #3473f1;
    transition: .25s;
    cursor: pointer;
}
.socialTab + .active {
    margin: 0 0 0 0;
    padding: 10px 10px 10px 10px;
    background-color: #d73838;
}

#socialSendables {
     display: block;
 }
.socialTabContent {
     background-color: #ffffff;
     display: none;
     border: 2px solid #575757;
     padding: 20px 20px 20px 20px;
 }

.shareButton {
    padding: 12px 17px 12px 17px;
    font-weight: bolder;
    margin: 20px 0 20px 0;
    color: #ffffff;
    box-shadow: 5px 10px #888888;
    -webkit-box-shadow: 0 0 15px -9px rgba(0,0,0,0.90);
    -moz-box-shadow: 0 0 15px -9px rgba(0,0,0,0.90);
    border-radius: 7px;
    border: none;
    transition: .1s ease-in-out;
 }
.shareButton:hover {
    cursor: pointer;;
    transition: .1s ease-in-out;
    scale: 1.03;
}

pre {
    border: none;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    font-family: 'Courier New', Courier, monospace;
}

pre code {
    background-color: #424242;
    border: 3px solid #282828;
    border-radius: 5px;
    color: #e8e8e8;
    display: inline-block;
    padding: 5px;
}

#connectToInstagramButton, #connectToYoutubeButton {
    box-shadow: 5px 10px #888888;
    -webkit-box-shadow: 0 0 15px -9px rgba(0,0,0,0.90);
    -moz-box-shadow: 0 0 15px -9px rgba(0,0,0,0.90);
}

.lbl-toggle {
    display: block;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: left;
    padding: 10px 18px 10px 18px;
    color: #232323;
    background: #ffffff;
    cursor: pointer;
    border-radius: 50px;
    transition: 0.1s;
}
.lbl-toggle:hover {
    color: #FFF;
    background: #232323;
}
.lbl-toggle::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transition: .1s;
}

.toggle:checked+.lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible {
    background-color: white;
    color: #252525;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: 18px;
    border-radius: 40px;
    transition: .2s;
}
.collapsible-content {
    max-height: 0;
    overflow: hidden;
    transition: .1s;
}
.collapsible-content .content-inner {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: .5rem 1rem;
}
.collapsible:hover {
    background-color: #d2d2d2;
    cursor: pointer;
    transition: .2s;
}


.toggle:checked+.lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: 10000px;
}

/* Lock Styling */
.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 600,
            'GRAD' 0,
            'opsz' 48;
    cursor: pointer;
    transition: .1s ease-in-out;
}
.material-symbols-outlined:hover {
    scale: 1.10;
    transition: .1s ease-in-out;
}

/* Brand Variables in 'My Brand' section */
.varGroup {
    padding: 10px 25px 10px 25px;
}

.var:hover {
    scale: 1.01;
    transition: .1s;
    background-color: #ececec;
}

#businessTypeValueDisplay {
    font-size: 12px;
}

#brandPopup {
    display: none;
    position: absolute;

    min-height: 200px;
    max-height: max-content;

    width: 400px;

    background-color: white;
    border: 3px solid #1da1f2;
    border-radius: 5px;

    padding-bottom: 10px;

    box-shadow: #5d5d5d 0 0 10px;
    -webkit-box-shadow: #5d5d5d 0 0 10px;
    -moz-box-shadow: #5d5d5d 0 0 10px;

    z-index: 9999;
}

.brandRecommendation {
    cursor: pointer;
    background-color: white;
    transition: .1s ease-in-out;

    padding: 5px 10px 5px 10px;
}
.brandRecommendation:hover {
    scale: 1.03;
    transition: .1s ease-in-out;
    border-radius: 40px;

    box-shadow: #5d5d5d 0 0 10px;
    -webkit-box-shadow: #5d5d5d 0 0 10px;
    -moz-box-shadow: #5d5d5d 0 0 10px;
}
.brandRecommendationInnerText {
    font-weight: bold;

}
.brandRecommendationValue {
    font-weight: bold;

}

#brandList {
    border-top: 1px solid #c2c2c2;
    background-color: white;
    padding: 10px;
}
#brandList:hover {

}

.cleanCursorInputSmall {
    height: 28px;
    font-weight: bold;
    margin: 2px;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    transition: .2s ease-in-out;
    outline: none;
    padding: 3px;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
}

input[type="checkbox"] {
    display: block !important;
    height: 20px !important;
    width: 20px !important;
    margin: 3px !important;
}

.flex-align-items-center {
    display: flex;
    align-items: center;
}
.flex-justify-content-end {
    display: flex;
    justify-content: flex-end;
}

.cleanCursorInputIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #f0f0f0;
    padding: 10px;
}
.padding-bottom-103 {
    padding-bottom: 103px;
}

.noLeftPaddingOrMargin {
    padding-left: 0 !important;
    margin-left: 0 !important;
}
.noRightPaddingOrMargin {
    padding-right: 0 !important;
    margin-right: 0 !important;
}

#finalImageHorizontal > text.hookGlobalHere {}
#finalImageHorizontal > text.hookResolutionGlobalHere {}
#finalImageHorizontal > text.companyUpdateHeadlineHere {}
#finalImageHorizontal > text.companyUpdateDateHere {}
#finalImageHorizontal > text.salePromotionTitleHere {}
#finalImageHorizontal > text.salePromotionProductOrServiceHere {}
#finalImageHorizontal > text.salePromotionStartDateHere {}
#finalImageHorizontal > text.salePromotionEndDateHere {}
#finalImageHorizontal > text.eventPromotionTitleHere {}
#finalImageHorizontal > text.eventPromotionStartDateHere {}
#finalImageHorizontal > text.eventPromotionEndDateHere {}
#finalImageHorizontal > text.eventPromotionLocationHere {}
#finalImageHorizontal > text.testimonialReviewAuthorNameHere {}
#finalImageHorizontal > text.testimonialReviewAuthorHeadshotHere {}
#finalImageHorizontal > text.testimonialReviewAuthorTitleHere {}
#finalImageHorizontal > text.testimonialReviewAuthorCompanyHere {}
#finalImageHorizontal > text.testimonialReviewAuthorDateHere {}
#finalImageHorizontal > text.callToActionGlobalHere {}
#finalImageHorizontal > img.squareLogoGlobalHere {}

#finalImageSquare > text.hookGlobalHere {}
#finalImageSquare > text.hookResolutionGlobalHere {}
#finalImageSquare > text.companyUpdateHeadlineHere {}
#finalImageSquare > text.companyUpdateDateHere {}
#finalImageSquare > text.salePromotionTitleHere {}
#finalImageSquare > text.salePromotionProductOrServiceHere {}
#finalImageSquare > text.salePromotionStartDateHere {}
#finalImageSquare > text.salePromotionEndDateHere {}
#finalImageSquare > text.eventPromotionTitleHere {}
#finalImageSquare > text.eventPromotionStartDateHere {}
#finalImageSquare > text.eventPromotionEndDateHere {}
#finalImageSquare > text.eventPromotionLocationHere {}
#finalImageSquare > text.testimonialReviewAuthorNameHere {}
#finalImageSquare > text.testimonialReviewAuthorHeadshotHere {}
#finalImageSquare > text.testimonialReviewAuthorTitleHere {}
#finalImageSquare > text.testimonialReviewAuthorCompanyHere {}
#finalImageSquare > text.testimonialReviewAuthorDateHere {}
#finalImageSquare > text.callToActionGlobalHere {}
#finalImageSquare > img.squareLogoGlobalHere {}

#finalImageVertical > text.hookGlobalHere {}
#finalImageVertical > text.hookResolutionGlobalHere {}
#finalImageVertical > text.companyUpdateHeadlineHere {}
#finalImageVertical > text.companyUpdateDateHere {}
#finalImageVertical > text.salePromotionTitleHere {}
#finalImageVertical > text.salePromotionProductOrServiceHere {}
#finalImageVertical > text.salePromotionStartDateHere {}
#finalImageVertical > text.salePromotionEndDateHere {}
#finalImageVertical > text.eventPromotionTitleHere {}
#finalImageVertical > text.eventPromotionStartDateHere {}
#finalImageVertical > text.eventPromotionEndDateHere {}
#finalImageVertical > text.eventPromotionLocationHere {}
#finalImageVertical > text.testimonialReviewAuthorNameHere {}
#finalImageVertical > text.testimonialReviewAuthorHeadshotHere {}
#finalImageVertical > text.testimonialReviewAuthorTitleHere {}
#finalImageVertical > text.testimonialReviewAuthorCompanyHere {}
#finalImageVertical > text.testimonialReviewAuthorDateHere {}
#finalImageVertical > text.callToActionGlobalHere {}
#finalImageVertical > img.squareLogoGlobalHere {}

#finalImageStory > text.hookGlobalHere {}
#finalImageStory > text.hookResolutionGlobalHere {}
#finalImageStory > text.companyUpdateHeadlineHere {}
#finalImageStory > text.companyUpdateDateHere {}
#finalImageStory > text.salePromotionTitleHere {}
#finalImageStory > text.salePromotionProductOrServiceHere {}
#finalImageStory > text.salePromotionStartDateHere {}
#finalImageStory > text.salePromotionEndDateHere {}
#finalImageStory > text.eventPromotionTitleHere {}
#finalImageStory > text.eventPromotionStartDateHere {}
#finalImageStory > text.eventPromotionEndDateHere {}
#finalImageStory > text.eventPromotionLocationHere {}
#finalImageStory > text.testimonialReviewAuthorNameHere {}
#finalImageStory > text.testimonialReviewAuthorHeadshotHere {}
#finalImageStory > text.testimonialReviewAuthorTitleHere {}
#finalImageStory > text.testimonialReviewAuthorCompanyHere {}
#finalImageStory > text.testimonialReviewAuthorDateHere {}
#finalImageStory > text.callToActionGlobalHere {}
#finalImageStory > img.squareLogoGlobalHere {}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -150px;
    background-color: #333;
    color: #fff;
    text-align: center; 
    border-radius: 8px; 
    padding: 16px; 
    position: fixed;
    z-index: 9999999999; 
    left: 50%; 
    top: 40px;
    font-size: 1.2rem;
}

#snackbar.show {
    visibility: visible; 
    -webkit-animation: fadein 1s, fadeout 1s 4.5s;
    animation: fadein 1s, fadeout 1s 4.5s;
}

@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 40px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 40px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 40px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 40px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

.hidden{
	display: none;
}


