:root {

	/* Colors */
	--primaryColor: #9d2727;
	--secondaryColor: #3e3eff;
	--tertiaryColor: #009d00;

	/* Fonts */
	--primaryFont: Montserrat, sans-serif;
	--secondaryFont: Robot, sans-serif;

	/* Attention Methods */
	--primaryAttention: bold; 	/* Can be either 'bold', 'underline', 'italic', or 'highlight' */

}
::selection {
	color: var(--primaryColor);
	background-color: #fff;
	font-weight: 700;
	text-decoration: underline;
}
* {
	font-family: var(--primaryFont);
	font-weight: 400;
	font-min-size: 16px;
}

body {
	background-color: #f5f5f5;
	margin: 0;
}

main {
	padding: 0 40px 40px 40px;
}

section {
	padding-top: 60px;
}

a {
	cursor: pointer;
	text-decoration: none;
}
a:hover {
	color: var(--primaryColor);
}

nav {
	background-color: #fff;
	position: fixed;
	top: 0;
	width: 100%;
}

nav > ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}
nav > ul > li {

}
nav > ul > li > a {
	display: block;
	color: #000;
	text-align: center;
	padding: 15px 15px 15px 15px;
	text-decoration: none;
	cursor: pointer;
	transition: .2s ease-in-out;
}
nav > ul > li > a:hover {
	background-color: var(--primaryColor);
	color: #fff;
	transition: .2s ease-in-out;
}
nav > ul > li > a > img {}
nav > ul > li > a > img:hover {}

pre > code {
	background-color: #2f2f2f;
	border-radius: 10px;
	padding: 5px;
}

h1 {
	font-size: 44px;
	font-weight: 700;
}
h2 {
	font-size: 38px;
	font-weight: 600;
}
h3 {
	font-size: 32px;
	font-weight: 500;
}
h4 {
	font-size: 26px;
	font-weight: 400;
}
h5 {
	font-size: 22px;
	font-weight: 400;
}
h6 {
	font-size: 18px;
	font-weight: 400;
}

p {
	font-size: 16px;
	font-weight: 400;
}

form {
	padding: 30px;
}

/* Buttons */
button.rectangle.primary {
	background-color: var(--primaryColor);
	color: white;
	border: none;
	padding: 12px 22px 12px 22px;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	transition: .2s ease-in-out;
}
button.rectangle.primary:hover {
	scale: 1.05;
	transition: .2s ease-in-out;
}
button.round.primary {
	background-color: var(--primaryColor);
	color: white;
	border: none;
	border-radius: 30px;
	padding: 12px 22px 12px 22px;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	transition: .2s ease-in-out;
}
button.round.primary:hover {
	scale: 1.05;
	transition: .2s ease-in-out;
}
button.rectangle.secondary {
	background-color: #ffffff;
	color: var(--primaryColor);
	border: 3px solid var(--primaryColor);
	padding: 10px 20px 10px 20px;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	transition: .2s ease-in-out;
}
button.rectangle.secondary:hover {
	scale: 1.05;
	transition: .2s ease-in-out;
}
button.round.secondary {
	background-color: #ffffff;
	color: var(--primaryColor);
	border: 3px solid var(--primaryColor);
	border-radius: 30px;
	padding: 10px 20px 10px 20px;
	font-size: 16px;
	font-weight: 600;
	cursor: pointer;
	transition: .2s ease-in-out;
}
button.round.secondary:hover {
	scale: 1.05;
	transition: .2s ease-in-out;
}

footer {
	min-height: 400px;
	background-color: var(--primaryColor);
	color: #fff;
}
footer > div {
	padding: 20px;
}
footer > div > p > a {
	color: #fff;
}
footer > div > p > a:hover {
	color: #d5d5d5;
}
footer > div > a {
	color: #fff;
}
footer > div > a:hover {
	color: #d5d5d5;
}


/* Attention Methods */
.italic {
	font-style: italic;
}
.bold {
	font-weight: 700;
}
.underline {
	text-decoration: underline;
}
.highlight {
	background-color: var(--primaryColor);
	display: inline-block;
	padding: 2px 5px 2px 5px;
}

/* Brand Variables  */
.primaryContactPhone {}
.primaryContactEmail {}
.primaryContactWebsite {}

.officeAddressStreet1 {}
.officeAddressStreet2 {}
.officeAddressCity {}
.officeAddressState {}
.officeAddressZip {}
.officeAddressCountry {}
.officeAddressFull {}

.founderName {}
.foundingDate {}
.tradeBusinessName {}
.legalBusinessName {}

.businessType {}
.slogan {}
.missionStatement {}
.valueProp {}

.squareLogo {}
.fullLogo {}

.primaryColor {}
.secondaryColor {}
.tertiaryColor {}

.primaryFont {}
.secondaryFont {}
.tertiaryFont {}

.facebookUrl {}
.facebookUsername {}
.instagramUrl {}
.instagramUsername {}
.linkedinUrl {}
.linkedinUsername {}
.twitterUrl {}
.twitterUsername {}
.tiktokUrl {}
.tiktokUsername {}

.mondayOpeningTime {}
.mondayClosingTime {}
.tuesdayOpeningTime {}
.tuesdayClosingTime {}
.wednesdayOpeningTime {}
.wednesdayClosingTime {}
.thursdayOpeningTime {}
.thursdayClosingTime {}
.fridayOpeningTime {}
.fridayClosingTime {}
.saturdayOpeningTime {}
.saturdayClosingTime {}
.sundayOpeningTime {}
.sundayClosingTime {}

.person1Name {}
.person1Title {}
.person1Headshot {}
.person1FacebookUrl {}
.person1InstagramUrl {}
.person1LinkedinUrl {}
.person1TwitterUrl {}
.person1TiktokUrl {}

.person2Name {}
.person2Title {}
.person2Headshot {}
.person2FacebookUrl {}
.person2InstagramUrl {}
.person2LinkedinUrl {}
.person2TwitterUrl {}
.person2TiktokUrl {}

.offer1Name {}
.offer1Price {}
.offer1Feature {}
.offer1Benefit {}
.offer1Solution {}
.offer1Description {}
.offer1Image {}

.offer2Name {}
.offer2Price {}
.offer2Feature {}
.offer2Benefit {}
.offer2Solution {}
.offer2Description {}
.offer2Image {}


